
.header-search__btn.order__search {
    margin: 20px 0 0 20px;
}

.product-list__add-btn {
    padding: 0 20px;
    margin: 18px 20px 0 0;
}





/* list */
.delivery__product {
    border: 1px solid var(--product-border);
    border-radius: 10px;
    margin: 20px 20px;
}

.delivery__product-title {
    height: 12%;
    display: flex;
    font-size: 1.4rem;
    font-weight: 600;
    padding: 15px 15px;
    margin: 0 15px;
    border-bottom: 2px solid var(--primary-color);
}

.delivery__product-title div {
    width: 13%;
}

.delivery__product-title div:nth-child(2),
.delivery__product-title div:nth-child(3) {
    width: 21%;
}

.delivery__product-title div:nth-last-child(1) {
    padding-left: 7%;
    width: 18%;
}

.delivery__list {
    height: 465px;
    font-size: 1.4rem;
    overflow-y: auto;
}

.delivery__list ul:nth-last-child(1) {
    border-bottom: none;
}

.delivery__item {
    display: flex;
    padding: 15px 15px;
    list-style: none;
    margin: 0 0 0 15px;
    border-bottom: 1px solid var(--product-border);
}

.delivery__item li {
    width: 13%;
}

.delivery__item li:nth-child(2),
.delivery__item li:nth-child(3) {
    width: 21%;
}

.delivery__item li:nth-last-child(1) {
    width: 17%;
    display: flex;
    justify-content: space-between;
}

