.header-search__btn.order__search {
    margin: 20px 0 0 20px;
}

.product-list__add-btn {
    padding: 0 20px;
    margin: 18px 20px 0 0;
}


/* list */

.order__product {
    border: 1px solid var(--product-border);
    border-radius: 10px;
    margin: 20px 20px;
}

.order__product-title {
    height: 12%;
    display: flex;
    font-size: 1.4rem;
    font-weight: 600;
    padding: 15px 15px;
    margin: 0 15px;
    border-bottom: 2px solid var(--primary-color);
}

.order__product-title div {
    width: 20%;
}

.order__product-title div:nth-child(2) {
    width: 40%;
}

.order__list {
    height: 465px;
    font-size: 1.4rem;
    overflow-y: auto;
}

.order__list ul:nth-last-child(1) {
    border-bottom: none;
}

.order__item {
    display: flex;
    padding: 15px 15px;
    list-style: none;
    margin: 0 0 0 15px;
    border-bottom: 1px solid var(--product-border);
    cursor: pointer;
}

.order__item:hover {
    background-color: #fefefe;
}

.order__item li {
    width: 20%;
}

.order__item li:nth-child(2) {
    width: 40%;
}