:root {
    --primary-color: #8ABF44;
    --text-color: #828282;
    --white-color: #fff;
    --black-color: #000;
    --product-name-color: #6A8491;
    --product-border: #E9E9E9;
    --header-height: 157px;
    --search-height: 100px;
    --navbar-height: 50px;
    --banner-height: 600px;
    --footer-height: 260px;
    --product-width: 250px;
    --product-height: 325px;
}

* {
    box-sizing: inherit;
}

html {
    /* 10px */
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}


/* Responsive */

.grid {
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
}

.grid__column-3 {
    padding-left: 5px;
    padding-right: 5px;
    width: 25%;
}

.grid__column-4 {
    width: 33.3333%;
    display: flex;
    justify-content: center;
}



/* Animation */

@keyframes growth {
    from {
        transform: scale(0);
        opacity: 0;
    }
    to {
        transform: scale(1);
        opacity: 1;
    }
}
/*Components*/
.rate{
    color: #F88B56;
    margin-right: 5px;
}

.primary-button{
    width: 165px;
    height: 40px;
    margin: 15px 0;
    background: linear-gradient(180deg, rgba(252, 145, 145, 0) 0%, rgba(252, 145, 145, 0.458333) 0.01%, #FC9191 100%);
    color: #303030;
    border-radius: 8px;
    border:none;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
}

.btn-control{
    width: 38px;
    height: 38px;
    border-radius: 50%;
    background: #e2e2e2;
    border: none;
    font-size: 1.6rem;
    font-weight: 500;
    color: #303030;
    cursor: pointer;
}

.btn-control-active{
    background: var(--primary-color);
}

.btn-control-disable{
    background: #f2f2f2;
    color: #ababab;
    cursor: default;
}

.grid__row {
    display: flex;
    flex-wrap: wrap;
    /* margin-left: -5px;
    margin-right: -5px; */
}

.grid__row-2 {
    width: 40%;
    max-height: 650px;
    display: flex;
    flex-wrap: wrap;
    /* margin-left: -5px;
    margin-right: -5px; */
}

.grid__row-2-column {
    width: 50%;
    max-height: 325px;
}

.grid__row-4 {
    width: 80%;
    max-height: 650px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    /* margin-left: -5px;
    margin-right: -5px; */
}

.grid__row-4-column {
    width: 25%;
}

.grid__column-2 {
    /* padding-left: 5px;
    padding-right: 5px; */
    width: 20%;
}


/* Độ dài bằng 2 lần column-2 */

.grid__2column-2 {
    /* padding-left: 5px;
    padding-right: 5px; */
    width: 40%;
}

.grid__3column-2 {
    /* padding-left: 5px;
    padding-right: 5px; */
    width: 60%;
}

.grid__column-4 {
    width: 33.3333%;
    display: flex;
    justify-content: center;
}

.grid__2column-4 {
    width: 66.6666%;
}
